%h2
  = @post.title
%h3
  = @post.body

= render :partial => 'comments', :locals => { :comments => @post.comments }

= simple_form_for [@post, @post.comments.build] do |comment|
  = comment.input :body, :as => :text
  = comment.button :submit
