= stylesheet_link_tag 'posts'
= duplicate
- if asset_exists?("#{controller_name}/#{action_name}")
  = stylesheet_link_tag "#{controller_name}/#{action_name}"

= content_for :title do
  POSTS

= render :template => 'layouts/application'
